/* main section */
.main {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
  gap: 1rem;
  padding-bottom: 8rem;
  padding: 1rem;
}

.box {
  height: 18rem;
  width: 18rem;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box h2 {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(126, 126, 126);
}

.option-display {
  display: block;
}
